<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator | default: '-' }} {{ site.description }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}
  
  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | default: 'Untitled' }} {{ site.title-separator | default: '-' }} {{ site.description }}" href="{{ '/feed.xml' | absolute_url }}">

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  <!-- Facebook OpenGraph tags -->
  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {% if page.meta-title %}
  <meta property="og:title" content="{{ page.meta-title }}">
  {% elsif page.title %}
  <meta property="og:title" content="{{ page.title }}">
  {% elsif site.title %}
  <meta property="og:title" content="{{ site.title }}">
  {% endif %}

   {% if page.meta-description %}
  <meta property="og:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
  <meta property="og:description" content="{{ page.subtitle }}">
  {% else %}
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}


  {% if page.id %}
  <meta property="og:type" content="article">
  <meta property="og:article:author" content="{{ site.author }}">
  <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}

  {% if page.id %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% else %}
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
  {% endif %}

  {%- capture shareimg -%}
    {% if page.share-img %}
      {{ page.share-img }}
    {% elsif page.cover-img %}
      {% if page.cover-img.first %}
        {{ page.cover-img[0].first.first }}
      {% else %}
        {{ page.cover-img }}
      {% endif %}
    {% elsif page.thumbnail-img %}
      {{ page.thumbnail-img }}
    {% elsif site.avatar %}
      {{ site.avatar }}
    {% endif %}
  {% endcapture %}
  {% assign shareimg=shareimg | strip %}

  {% if shareimg != "" %}
  <meta property="og:image" content="{{ shareimg | absolute_url }}">
  {% endif %}


  <!-- Twitter summary cards -->
  {% if shareimg != "" and shareimg != site.avatar %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">

  {% if page.meta-title %}
  <meta name="twitter:title" content="{{ page.meta-title }}">
  {% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}

  {% if page.meta-description %}
  <meta name="twitter:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
  <meta name="twitter:description" content="{{ page.subtitle }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  {% if shareimg != "" %}
  <meta name="twitter:image" content="{{ shareimg | absolute_url }}">
  {% endif %}

  {% if site.matomo %}
  {% include matomo.html %}
  {% endif %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <!-- Staticman -->
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

  <!-- add incline method -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}})
  </script>
  <script type="text/javascript" async
    src="https://example.com/mathjax/MathJax.js?config=TeX-AMS_CHTML">
  </script>

  <!-- include Latex macros -->
  <!-- <p style="display: none">
    $$
        \newcommand{\B}{{\mathbb B}}
        \newcommand{\D}{{\mathbb D}}
        \newcommand{\E}{{\mathbb E}}
        \newcommand{\HH}{{\mathbb H}}
        \newcommand{\R}{{\mathbb R}}
        \newcommand{\SSS}{{\mathbb S}}
        \newcommand{\C}{{\mathbb C}}
        \newcommand{\Q}{{\mathbb Q}}
        \newcommand{\N}{{\mathbb N}}
        \newcommand{\MM}{{\mathbb M}}
        \newcommand{\XX}{{\mathbb X}}
        \newcommand{\YY}{{\mathbb Y}}
        \newcommand{\Z}{{\mathbb Z}}
        \newcommand{\II}{{\mathbb I}}
        \newcommand{\TT}{{\mathbb T}}
        \newcommand{\PP}{{\mathbb P}}

        \newcommand{\im}{{\mathrm{Im}\,}
        \newcommand{\re}{{\mathrm{Re}\,}
        \newcommand{\dist}{\hbox{\mathrm{dist}}
        \newcommand{\Span}{\hbox{Span}}
        \newcommand{\diag}[1]{\mathrm{diag}(#1)}
        \newcommand{\dim}[1]{\mathrm{dim} \, #1}
        \newcommand{\tr}[1]{\text{tr}(#1)}
        \newcommand{\partder}[2]{\frac{\partial #1}{\partial #2}}
        \newcommand{\rank}[1]{\mathrm{rank} \, #1}

        \newcommand{\inner}[1]{\langle #1 \rangle}
        \newcommand{\innerbig}[1]{\left \langle #1 \right \rangle}
        \newcommand{\abs}[1]{\lvert #1 \rvert}
        \newcommand{\norm}[1]{\lVert #1 \rVert}
        \newcommand{\normbig}[1]{\left\lVert #1 \right\rVert}
        \newcommand{\ker}[1]{\text{ker}(#1)}
        \newcommand{\supp}[1]{\text{supp}(#1)}

        \newcommand{\calA}{{\mathcal A}}
        \newcommand{\calB}{{\mathcal B}}
        \newcommand{\calC}{{\mathcal C}}
        \newcommand{\calD}{{\mathcal D}}
        \newcommand{\calE}{{\mathcal E}}
        \newcommand{\calF}{{\mathcal F}}
        \newcommand{\calG}{{\mathcal G}}
        \newcommand{\calH}{{\mathcal H}}
        \newcommand{\calI}{{\mathcal I}}
        \newcommand{\calJ}{{\mathcal J}}
        \newcommand{\calK}{{\mathcal K}}
        \newcommand{\calL}{{\mathcal L}}
        \newcommand{\calM}{{\mathcal M}}
        \newcommand{\calN}{{\mathcal N}}
        \newcommand{\calO}{{\mathcal O}}
        \newcommand{\calP}{{\mathcal P}}
        \newcommand{\calQ}{{\mathcal Q}}
        \newcommand{\calR}{{\mathcal R}}
        \newcommand{\calS}{{\mathcal S}}
        \newcommand{\calT}{{\mathcal T}}
        \newcommand{\calU}{{\mathcal U}}
        \newcommand{\calV}{{\mathcal V}}
        \newcommand{\calW}{{\mathcal W}}
        \newcommand{\calX}{{\mathcal X}}
        \newcommand{\calY}{{\mathcal Y}}
        \newcommand{\calZ}{{\mathcal Z}}

        \newcommand{\bh}{{\mathbf h}}
        \newcommand{\bf}{{\mathbf f}}
        \newcommand{\Pker}{P_{\calH\to\ker{L}^{\perp}}}
    $$
  </p> -->

</head>
